<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.2.0/p5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.2.0/addons/p5.sound.min.js"></script>
    <script src="https://unpkg.com/handsfree@8.1.1/build/lib/handsfree.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/handsfree@8.1.1/build/lib/assets/handsfree.css">
    <meta charset="utf-8" />

  </head>
  <body>
    <script src="HandsFreeBall.js"></script>
  </body>
</html>
